.login{
    width:100%;
    height:100vh;
    background:#fce3fe;
    display:flex;
    justify-contenen:center;
    margin-button:20px;
}
.login-up-contenen{
    width:580px;
    height:600px;
    background:#fff;
    margin: auto;
    padding:40px 60px;

    
}
.login-up-contenen h1{
    margin:20px 0px

}
.login-up-filds{
    display:flex;
    flex-direction:column;
    gap:29px;
    margin-top:30px;
}
.login-up-filds input{
    height:60px;
    width:100%;
    padding-left:20px;
    border: 1px solid #c9c9c9;
    autline:none;
    color:#5c5c5c;
    font-size:18px;
}
.login-up-contenen button{
 width:580px;
 height:72px;
 color:#fff;
 background:#ff4141;
 border:none;
 font-size:24px;
 font-width:500;
 cursor:pointer;
 margin-top:30px;
 margin-left:14px;
}
.logins-text{
    margin-top:20px;
    color:#5c5c5c;
    font-size:18px;
    font-weight:500px;

}
.logins-text span{
    color:#ff4141;
    font-weight:600;

 
} 
.login-agree{
    display:flex;
    align-items:center;
    margin-top:25px;
    gap:20px;
    color:#5c5c5c;
    font-size:18px;
    font-weight:500;
}
